!!!
%html
  %head
    %title Cucumber Report
    %script(src="javascripts/jquery-2.1.1.min.js")
    %script(src="stylesheets/bootstrap-3.2.0-dist/js/bootstrap.js")
    %script(src="javascript/toggle_header.js")
    %link{type: 'text/css', rel: 'stylesheet', href: 'stylesheets/bootstrap-3.2.0-dist/css/bootstrap.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'stylesheets/report.css'}

    %body
      %header
        %nav.navbar.navbar-default.navbar-static-top
          %h1.navbar-brand.page-header Cucumber Features Results
          .navbar-text.navbar-right
